@model IEnumerable<DSW1_T1_ZEVALLOS_RIVERA_JORGE.Models.Articulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Agregar">Crear nuevo artículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniMed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StkArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StkArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
